body {
  background-image: url("https://images.unsplash.com/photo-1517281862878-d312fe477d71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=972&q=80");
  background-size: auto;
  font-family: "Orbitron", sans-serif;
}
